<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://showcases.yalco.kr/html-css/01-06/table.css">
</head>
<body>
    <table>
        <caption>제목</caption>
        <thead>
            <tr>
                <td>1</td>
                <td >2</td>
                <td>3</td>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td>7</td>
            <td>8</td>
            <td>9</td>
        </tr>
        </tfoot>
    </table>
</body>
</html>
