<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0, maximum-scale=1.0">
    <title>CSS의 @mediaQuery를 이용한 반응형 웹</title>
    <link rel="stylesheet" type="text/css" href="/css/rwd.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=menu" />
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>반응형 웹</h1>
            <!-- 햄버거 태그 -->
            <span class="material-symbols-outlined">menu</span>
            <nav>
                <ul>
                    <li>menu title tile 1</li>
                    <li>menu title tile 2</li>
                    <li>menu title tile 3</li>
                    <li>menu title tile 4</li>
                    <li>menu title tile 5</li>
                </ul>
            </nav>
        </header>
        <section>
            <p>
                bijou requiem blush lucid moonlight way computer flutter milky haze miracle shine girlish baby masquerade way haze you purity carnival haze hello milky kitten cresent honey carnival lovable heimish purity haze seraphic pure kitten adolescence cream you flutter blush flora melody purity lucid illusion world lovesick hello illusion serendipity fabulous.
            </p>
            <p>
                bijou requiem blush lucid moonlight way computer flutter milky haze miracle shine girlish baby masquerade way haze you purity carnival haze hello milky kitten cresent honey carnival lovable heimish purity haze seraphic pure kitten adolescence cream you flutter blush flora melody purity lucid illusion world lovesick hello illusion serendipity fabulous.
            </p>
        </section>
        <footer>
            <p>
                &copy;by minjeong
            </p>
        </footer>
    </div>
</body>
</html>
